<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="logo-text">City Explorer</h2>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; +(33) 4 53 37 74 50</span>
          <span><i class="fas fa-envelope"></i> &nbsp; info@cityexplorer.com</span>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
  
      <div class="footer-section links">
        <h2>Liens utiles</h2>
        <ul>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Conditions d'utilisation</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact-form">
        <h2>Nous contacter</h2>
        <form action="/new_help" method="POST">
          <input type="email" name="email" class="text-input contact-input" placeholder="Votre adresse email">
          <textarea name="message" class="text-input contact-input" placeholder="Votre message"></textarea>
          <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-envelope"></i>
            Envoyer
          </button>
        </form>
      </div>
      <div class="footer-bottom">
        &copy; 2023 City Explorer | Designed by ZEGHAR & BOUCENNA
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="style.css">
</html>
