<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>City Explorer</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index">Accueil</a></li>
        {{^authenticated}}
        <li><a href="/cnx">Connexion</a></li>
        <li><a href="/insc">Inscription</a></li>
        {{/authenticated}}
      </ul>
    </nav>
    

    
  </header>